body {
	background-color: #fff;
	color: #222;
	font-family: Roboto, sans-serif;
	font-size: 16px;
	font-weight: 300;
	line-height: 1.625;
}

p,
ul,
ol,
dl {
	font-size: 16px;
	line-height: 1.625;
}

/* Regular content width.
/* 1140px + 30px to match paragraph width on front-end and editor.
---------------------------------------------------------------------------- */

.wp-block {
	max-width: 1170px;
}

/* Width of "wide" blocks
/* 1340px + 30px so wide images match width in front-end and editor.
---------------------------------------------------------------------------- */

.wp-block[data-align="full"] .wp-block[data-align="wide"],
.wp-block[data-align="wide"] .wp-block[data-align="wide"],
.wp-block[data-align="wide"] {
	max-width: 1370px;
}

.wp-block[data-align="full"],
.wp-block[data-align="wide"] .wp-block,
.wp-block[data-align="full"] .wp-block {
	max-width: none;
}

/* Alignment
---------------------------------------------------------------------------- */

.has-text-align-center {
	text-align: center;
}

.has-text-align-left {
	text-align: left;
}

.has-text-align-right {
	text-align: right;
}

/* Typography
---------------------------------------------------------------------------- */

a {
	background-color: inherit;
	color: #008285;
	font-weight: 400;
	text-decoration: none;
}

a:focus,
a:hover {
	color: #222;
}

strong {
	font-weight: 700;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: #222;
	font-family: Raleway, sans-serif;
	font-weight: 500;
	line-height: 1.2;
	margin: 0 0 16px;
}

h1 {
	font-size: 36px;
}

h2 {
	font-size: 30px;
}

h3 {
	font-size: 24px;
}

h4 {
	font-size: 20px;
}

h5 {
	font-size: 18px;
}

h6 {
	font-size: 16px;
}

.editor-post-title__block .editor-post-title__input {
	color: #222;
	font-family: Raleway, sans-serif;
	font-size: 36px;
	font-weight: 500;
	line-height: 1.2;
	margin: 0 0 16px;
}

p.has-drop-cap:not(:focus)::first-letter {
	font-size: 7.7em;
	margin: 0.1em 0.08em 0 -0.08em;
}

p.has-larger-font-size.has-drop-cap:not(:focus)::first-letter,
p.has-small-font-size.has-drop-cap:not(:focus)::first-letter {
	margin-right: 0.03em;
}

/* Background Color
---------------------------------------------------------------------------- */

p.has-background {
	padding: 25px 30px;
}

p.box-shadow {
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

p.has-background a,
p.has-text-color a {
	color: inherit;
}

p.has-background a:focus,
p.has-background a:hover,
p.has-text-color a:focus,
p.has-text-color a:hover {
	color: inherit;
	text-decoration: underline;
}

p.has-background.light-text a {
	color: #fff;
	text-decoration: underline;
}

p.has-background.light-text a:focus,
p.has-background.light-text a:hover {
	text-decoration: none;
}

/* Blockquotes
---------------------------------------------------------------------------- */

.wp-block-pullquote,
.wp-block-quote {
	border: none;
	margin: 24px 0 36px;
}

.wp-block-pullquote blockquote::before,
.wp-block-quote::before {
	color: #888;
	content: "\201C";
	display: block;
	font-family: sans-serif;
	font-size: 32px;
	font-weight: 700;
	height: 0;
	left: -20px;
	position: relative;
	text-align: left;
	top: -10px;
}

.wp-block-pullquote blockquote::before {
	color: #222;
	font-size: 60px;
	left: 0;
	text-align: center;
	top: -60px;
}

.wp-block-quote.is-style-large::before {
	font-size: 40px;
}

.wp-block-pullquote.is-style-solid-color blockquote::before {
	color: #fff;
	padding-top: 16px;
}

.wp-block-pullquote blockquote.has-text-color::before {
	color: currentColor;
}

.wp-block-quote:not(.is-large):not(.is-style-large) {
	border: none;
	padding: 0;
}

.wp-block-pullquote.alignleft {
	margin: 0 2em 1.5em 0;
}

.wp-block-pullquote.alignright {
	margin: 0 0 1.5em 2em;
}

.wp-block-quote:not(.is-large):not(.is-style-large) {
	border: none;
}

.wp-block-pullquote p,
.wp-block-quote p {
	color: #222;
	font-family: Roboto, sans-serif;
	font-size: 21px;
	font-style: italic;
	line-height: 1.8;
	margin-bottom: 42px;
}

.wp-block-pullquote p,
.wp-block-quote.is-style-large p {
	font-size: 32px;
}

.wp-block-pullquote.is-style-solid-color p {
	color: #fff;
	margin-bottom: 42px;
	text-align: center;
}

.wp-block-pullquote:not(.is-style-solid-color)[style*="border-color"] {
	border: 2px solid;
	border-left: none;
	border-right: none;
}

.wp-block-pullquote .wp-block-pullquote__citation,
.wp-block-quote .wp-block-quote__citation {
	color: #222;
	display: block;
	font-family: Roboto, sans-serif;
	font-size: 16px !important;
	font-style: regular;
	margin-top: -25px;
	text-align: inherit;
	text-transform: none;
}

.wp-block-pullquote .wp-block-pullquote__citation {
	text-align: center;
}

.wp-block-pullquote.is-style-solid-color .wp-block-pullquote__citation {
	color: #fff;
}

.wp-block-pullquote .has-text-color p,
.wp-block-pullquote .has-text-color .wp-block-pullquote__citation {
	color: currentColor;
}

figcaption {
	color: #222;
	font-size: 16px;
	font-style: italic;
}

/* Cover Image
---------------------------------------------------------------------------- */

.wp-block-cover .wp-block-cover-text {
	color: #fff;
	font-size: 48px;
}

/* Preformatted elements
---------------------------------------------------------------------------- */

.wp-block-preformatted pre,
.wp-block-verse pre {
	font-family: monospace;
	font-size: 16px;
	line-height: 1.625 !important;
}

/* Separators
---------------------------------------------------------------------------- */

hr.wp-block-separator {
	border: none;
	border-bottom: 2px solid currentColor;
	color: #eee;
	margin: 1.65em auto;
}

hr.wp-block-separator.is-style-dots {
	border: none;
}

/* Tables
---------------------------------------------------------------------------- */

table {
	width: 100%;
}

.wp-block-table {
	line-height: 2;
}

.wp-block-table td,
.wp-block-table th,
.wp-block-table tr {
	border: none;
	vertical-align: top;
}

.wp-block-table th {
	font-weight: 600;
}

.wp-block-table tr {
	border-top: 1px solid #eee;
}

.wp-block-table tr:last-of-type {
	border-bottom: 1px solid #eee;
}

.wp-block-table tbody {
	border-bottom: 1px solid #eee;
}

.wp-block-table.is-style-stripes {
	border-bottom-width: 0;
}

/* Buttons
---------------------------------------------------------------------------- */

.ab-block-cta .ab-button {
	font-family: Raleway, sans-serif;
}

.wp-block-button .wp-block-button__link {
	border: 0;
	border-radius: 0;
	cursor: pointer;
	font-family: Raleway, sans-serif;
	padding: 16px 24px;
	text-transform: uppercase;
	white-space: normal;
}

.wp-block-button.is-style-outline .wp-block-button__link {
	background-color: transparent;
	border: 2px solid currentColor;
	border-radius: 0;
	padding: 13px 28px;
}

.wp-block-button.is-style-outline .wp-block-button__link:focus,
.wp-block-button.is-style-outline .wp-block-button__link:hover,
.wp-block-button .wp-block-button__link:focus,
.wp-block-button .wp-block-button__link:hover {
	box-shadow: inset 0 0 200px rgba(230, 230, 230, 0.15);
}

/* Galleries
---------------------------------------------------------------------------- */

.wp-block-gallery .blocks-gallery-item {
	margin-bottom: 16px;
}

/* WooCommerce Product
---------------------------------------------------------------------------- */

.product-price {
	font-size: 14px;
}

.product-price ins {
	font-weight: 700;
	text-decoration: none;
}

.product-title {
	font-weight: 500;
}

.product-add-to-cart {
	background-color: #eee;
	border: none;
	border-radius: 0;
	color: #222;
	cursor: pointer;
	font-family: Raleway, sans-serif;
	font-size: 14px;
	padding: 16px 18px;
	text-transform: uppercase;
	white-space: normal;
	width: auto;
}

.product-price,
.product-title {
	text-align: left;
}

/* Category Block
---------------------------------------------------------------------------- */

.wp-block-categories ul {
	margin-left: 0;
	padding-left: 0;
}

.wp-block-categories li {
	list-style-type: none;
}

.wp-block[data-align="right"] .wp-block-categories__list {
	text-align: right;
}

.wp-block[data-align="full"] .wp-block-categories__list {
	padding: 0 30px;
}

/* Latest Posts Block
---------------------------------------------------------------------------- */

.wp-block-latest-posts {
	margin-left: 0;
	padding-left: 0;
}

.wp-block-latest-posts li {
	list-style-type: none;
}

.wp-block[data-align="center"] .wp-block-latest-posts {
	text-align: center;
}

.wp-block[data-align="full"] .wp-block-latest-posts {
	padding: 0 30px;
}

/* Columns block
---------------------------------------------------------------------------- */

.wp-block[data-align="full"] .wp-block-columns > .editor-inner-blocks {
	padding: 0 30px;
}

/* Atomic Blocks
---------------------------------------------------------------------------- */

.ab-block-post-grid .is-list .ab-block-post-grid-title,
.ab-block-post-grid header .ab-block-post-grid-title a {
	color: #222;
	font-size: 24px;
	font-weight: 500;
	text-decoration: none;
}

.ab-block-post-grid .ab-block-post-grid-more-link {
	color: #222;
}

.ab-block-post-grid .ab-block-post-grid-more-link:hover,
.ab-block-post-grid header .ab-block-post-grid-title a:hover {
	box-shadow: inset 0 -1px 0 0 currentColor;
	text-decoration: none;
	text-shadow: 1px 1px 0 #fff, -1px 1px 0 #fff, 2px 0 0 #fff, -2px 0 0 #fff;
}

.ab-block-post-grid .ab-block-post-grid-byline {
	margin-bottom: 10px;
}

.ab-post-grid-section-title {
	background-color: #222;
	color: #fff;
	font-size: 16px;
	margin-bottom: 24px;
	padding: 10px;
	text-transform: uppercase;
}

.ab-block-post-grid .is-grid .ab-block-post-grid-date {
	font-size: 14px;
	font-weight: 300;
	padding: 5px 10px;
}

.button-more-link .ab-block-post-grid-more-link {
	background-color: #eee;
	box-shadow: none;
	clear: both;
	color: #222;
	display: block;
	font-size: 14px;
	margin-top: 20px;
	padding: 8px 10px;
	text-shadow: none;
	text-align: center;
}

.button-more-link.ab-block-post-grid .ab-block-post-grid-more-link:hover {
	box-shadow: none;
	text-shadow: none;
}

.ab-block-post-grid .is-list article:not(:last-child) {
	border-width: 2px;
}
